<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Actores</title>
</head>
<body>
<h1>Buscar Actores</h1>
<form action="/persons" method="get">
    <label for="name">Nombre del Actor:</label>
    <input type="text" id="name" name="name" placeholder="Escribe un nombre...">
    <button type="submit">Buscar</button>
</form>

<div th:if="${searchPerformed}">
    <div th:if="${persons != null}">
        <h2 th:if="${persons.isEmpty()}">No se encontraron resultados.</h2>

        <table th:if="${!persons.isEmpty()}" border="1">
            <thead>
            <tr>
                <th>Person ID</th>
                <th>Person Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${persons}">
                <td th:text="${person.personId}"></td>
                <td th:text="${person.personName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
